 {% include '../common/header.html' %}



<div class="main">
	<div class="container-fluid">

    {% include '../common/sidebar.html' %}
    
	<div class="content">
			<div class="row-fluid no-margin">
				<div class="span12">
							<ul class="quickstats">
								<li>
									<div class="small-chart" data-color="6a9d29" data-stroke="345010" data-type="line">5,3,9,6,5,9,7,3,5,10</div>
									<div class="chart-detail">
										<span class="amount green">+ 9834.41 $</span>
										<span class="description">Current balance</span>
									</div>
								</li>
								<li>
									<div class="small-chart" data-color="2c5b96" data-stroke="102c50" data-type="bar">2,5,4,6,5,4,7,8</div>
									<div class="chart-detail">
										<span class="amount">128.32</span>
										<span class="description">Orders per month</span>
									</div>
								</li>
								<li>
									<div class="small-chart" data-color="962c2c" data-stroke="651111" data-type="pie">6/10</div>
									<div class="chart-detail">
										<span class="amount">60%</span>
										<span class="description">Member qoute</span>
									</div>
								</li>
								<li>
									<div class="small-chart" data-color="2c5b96" data-stroke="102c50" data-type="line">521,500,481,429,550,521</div>
									<div class="chart-detail">
										<span class="amount">521.3 / month</span>
										<span class="description">Unique visitors rate</span>
									</div>
                                    
								</li>
							</ul>
                            	

						
				</div>
			</div>
			<div class="row-fluid no-margin">
				<div class="span12">
					
							<ul class="quicktasks">
								<li>
									<a href="/deploy/JobViewHandler">
										<img src="/static/img/icons/essen/32/order-149.png" alt="">
										<span>任务日志</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/img/icons/essen/32/calendar.png" alt="">
										<span>操作日志</span>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="/static/img/icons/essen/32/communication.png" alt="">
										<span>文件传输</span>
									</a>
								</li>
								<li>
									<a href="/manager/UserViewHandler">
										<img src="/static/img/icons/essen/32/hire-me.png" alt="">
										<span>用户管理</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/img/icons/essen/32/full-time.png" alt="">
										<span>定时任务</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/img/icons/essen/32/statistics.png" alt="">
										<span>信息监控</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/img/icons/essen/32/database.png" alt="">
										<span>database</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/static/img/icons/essen/32/config.png" alt="">
										<span>Configuration</span>
									</a>
								</li>
							</ul>
				</div>





				</div>
			</div>
		</div>	
	</div>
</div>	
 {% include '../common/footer.html' %}
