



<script src="{{ static_url('js/jquery.js') }}"></script>
<script src="{{ static_url('js/less.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/jquery.peity.js') }}"></script>
<script src="{{ static_url('js/jquery.uniform.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.timepicker.js') }}"></script>
<script src="{{ static_url('js/bootstrap.datepicker.js') }}"></script>
<script src="{{ static_url('js/chosen.jquery.min.js') }}"></script>
<script src="{{ static_url('js/jquery.fancybox.js') }}"></script>
<script src="{{ static_url('js/plupload/plupload.full.js') }}"></script>
<script src="{{ static_url('js/plupload/jquery.plupload.queue/jquery.plupload.queue.js') }}"></script>
<script src="{{ static_url('js/jquery.cleditor.min.js') }}"></script>
<script src="{{ static_url('js/jquery.inputmask.min.js') }}"></script>
<script src="{{ static_url('js/jquery.tagsinput.min.js') }}"></script>
<script src="{{ static_url('js/jquery.mousewheel.js') }}"></script>
<script src="{{ static_url('js/jquery.textareaCounter.plugin.js') }}"></script>
<script src="{{ static_url('js/ui.spinner.js') }}"></script>
<script src="{{ static_url('js/jquery.jgrowl_minimized.js') }}"></script>
<script src="{{ static_url('js/jquery.form.js') }}"></script>
<script src="{{ static_url('js/jquery.validate.min.js') }}"></script>
<script src="{{ static_url('js/bbq.js') }}"></script>
<script src="{{ static_url('js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script src="{{ static_url('js/jquery.form.wizard-min.js') }}"></script>
<script src="{{ static_url('js/jquery.cookie.js') }}"></script>
<script src="{{ static_url('js/jquery.metadata.js') }}"></script>
<script src="{{ static_url('js/custom.js') }}"></script><script src="{{ static_url('js/demo.js') }}"></script>






</body>
</html>